<form 
    class="registration"
    [formGroup]="registerForm"
    #singInForm
  >
    <div class="btn btn-danger closed" (click)="close(); singInForm.reset()">x</div>
    <div class="title">Registration</div>
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name <span class="text-danger">*</span></label>
        <div class="col-sm-10 pass">
          <input 
            type="text" 
            class="form-control" 
            id="inputFirstName" 
            placeholder="First Name" 
            formControlName="firstName"
          >
        </div>
    </div>
    <div class="form-group row">
        <label for="inputSecondName" class="col-sm-2 col-form-label">Second Name <span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="inputSecondName" 
            placeholder="Second Name"
            formControlName="secondName"
        >
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDateOfBirth" class="col-sm-2 col-form-label">Date of birth <span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <kendo-datepicker 
            name="kendo"
            [format]="'yyyy-MM-dd'" 
            formControlName="dateOfBirth"
          ></kendo-datepicker>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email <span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <input 
            type="email" 
            class="form-control" 
            id="inputEmail" 
            placeholder="Email" 
            formControlName="email"
          >
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password <span class="text-danger">*</span></label>
        <div class="col-sm-10 pass">
          <input 
            type="password" 
            class="form-control" 
            id="inputPassword" 
            placeholder="Password" 
            formControlName="password"
            >
          <p (click)="showPassword()"><i class="fas fa-eye"></i></p>
        </div>
        <div 
          class="alert alert-danger"
          [hidden]="registerForm.controls.password.valid || registerForm.controls.password.untouched"
        >
        Password must contain at least 6 characters
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPasswordRepeat" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 pass">
          <input 
            type="password" 
            class="form-control" 
            id="inputPasswordRepeat" 
            placeholder="Password repeat" 
            formControlName="passwordRepeat"
            >
          <p (click)="showPassword()"><i class="fas fa-eye"></i></p>
        </div>
        <div 
          [hidden]="hideErrorWrongPassword()"
          class="alert alert-danger">
          Passwords don't match
        </div>
        <button
          class="btn btn-success reges"
          [disabled]="!registerForm.valid"
          (click)="newUser()"
        >Registration</button>
      </div>
  </form>
    
  


