<section>
    <div class="centr">
        <p>New category:</p>
        <input type="text" class="col-6" [(ngModel)]="name" placeholder="new category">
        <input type="text" class="col-6" [(ngModel)]="image" placeholder="image (url link )">
        <button class="btn btn-success col-6" (click)="addCategory()">ADD</button>
    </div>
</section>
<main>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories; let i = index;">
                <td>{{ i+1 }}</td>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
</main>