<footer>
  <div class="copyright">
    <p class="title">Football Store</p>
    <p>Copyright © 2019 All rights reserved <br>
      Privacy</p>
  </div>
  <nav>
    <div class="flex">
      <p routerLink="/">home</p>
      <p routerLink="/store">store</p>
      <p routerLink="/about-us">about</p>
      <p routerLink="/contact">contact</p>
    </div>
    <div class="nav">
      <div class="soc"><i class="fab fa-facebook"></i></div>
      <div class="soc"><i class="fab fa-twitter"></i></div>
      <div class="soc"><i class="fab fa-instagram"></i></div>
      <div class="soc"><i class="fab fa-linkedin"></i></div>
    </div>
  </nav>
</footer>