main {
    font-size: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        border-bottom: 1px solid rgb(40, 221, 40);
        padding: 10px;
    }
    .picture {
        font-size: 90px;
    }
}
.out {
    left: 20px;
    top: 20px;
    background-color: rgb(197, 82, 82);
    padding: 10px;
    border-radius: 10px;
    color:white;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        background-color: rgb(143, 46, 46);
    }
}