main {
    margin: 0 auto;
    width: 70%;
    min-height: 300px;
    padding: 28px;
    img {
        float: right;
        margin: 10px;
        border-radius: 20px;
    }
}
article {
    font-size: 20px;
    font-family: 'monospace';
}
@media screen and (max-width: 1000px) {
    img {
        width: 150px;
        height: 150px;
    }
    article {
        font-size: 20px;
    }
    main {
        padding: 5px;
    }
}