<div class="flex">
  <li><button class="btn btn-secondary" routerLink="/admin/category" routerLinkActive="btn-danger">ADD CATEGORY</button></li>
  <li><button class="btn btn-secondary" routerLink="/admin/brand" routerLinkActive="btn-danger">ADD BRANDS</button></li>
  <li><button class="btn btn-secondary" routerLink="/admin/product" routerLinkActive="btn-danger">ADD PRODUCT</button></li>
  <li><button class="btn btn-secondary" routerLink="/admin/order" routerLinkActive="btn-danger">ORDERS</button></li>
  <li><button class="btn btn-secondary" routerLink="/admin/history" routerLinkActive="btn-danger">HISTORY</button></li>
  <li><button class="btn btn-secondary" routerLink="/admin/questions" routerLinkActive="btn-danger">QUESTIONS</button></li>
</div>
<router-outlet></router-outlet>