<main>
  <div class="addProduct">
       <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10 pass">
          <input 
            type="text" 
            class="form-control" 
            id="inputName" 
            placeholder="Name" 
            [(ngModel)]="name"
            >
        </div>
       </div>
        <div class="form-group row">
          <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10 pass">
            <input 
              type="text" 
              class="form-control" 
              id="inputCategory" 
              placeholder="Category" 
              [(ngModel)]="category"
              >
          </div>
        </div>
          <div class="form-group row">
            <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
            <div class="col-sm-10 pass">
              <input 
                type="text" 
                class="form-control" 
                id="inputBrand" 
                placeholder="Brand" 
                [(ngModel)]="brand"
                >
            </div>
          </div>
            <div class="form-group row">
              <label for="inputImage" class="col-sm-2 col-form-label">Image(URL)</label>
              <div class="col-sm-10 pass">
                <input 
                  type="text" 
                  class="form-control" 
                  id="inputImage" 
                  placeholder="Image" 
                  [(ngModel)]="image"
                  >
              </div>
            </div>
              <div class="form-group row">
                <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10 pass">
                  <input 
                    type="number" 
                    class="form-control" 
                    id="inputPrice" 
                    placeholder="Price" 
                    [(ngModel)]="price"
                    >
                </div>
              </div>
    <div class="form-group row">
                <label for="inputDescription" class="col-sm-2 col-form-label">Descriptions</label>
                <div class="col-sm-10 pass">
                  <input 
                    type="text" 
                    class="form-control" 
                    id="inputDescription" 
                    placeholder="Description" 
                    [(ngModel)]="description"
                    >
                </div>
              </div>
    <button *ngIf="!updateTrue" type="button" class="btn btn-success col-12" (click)="addProduct()">ADD</button>
    <button *ngIf="updateTrue" type="button" class="btn btn-warning col-12" (click)="saveJsonProduct()">UPDATE</button>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Brands</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" ng-change="getProduct()">
        <td>{{ product.id }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.descriptions }}</td>
        <td>{{ product.brands }}</td>
        <td><button class="btn btn-warning" (click)="showEdit(product)">EDIT</button></td>
        <td><button class="btn btn-danger" (click)="isDeleteProduct(product)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</main>