<main>
  <div class="title">About</div>
  <img src="../../../assets/img/about.jpg" alt="traning" width="300" height="250">
  <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facere in
    distinctio dignissimos voluptates architecto, repellat illo quis qui, nostrum cum,
    sequi mollitia unde harum? Aperiam sequi aliquid, velit minima praesentium voluptat
    em sapiente aut assumenda placeat culpa consectetur ab explicabo magni voluptas ips
    a quis quod eos error nemo incidunt officia laudantium impedit. Aspernatur atque inv
    entore similique nihil explicabo at esse illum sequi aperiam dolor, voluptas sapient
    e. Reprehenderit dolorem maxime consectetur placeat quisquam! Corrupti repellendus r
    atione recusandae iusto, fuga, suscipit fugit sunt placeat doloribus non laborum, obc
    aecati asperiores dolores! Possimus ratione provident ex vel voluptate quidem beatae
    sequi harum soluta enim suscipit quas in dicta dignissimos error culpa autem, invent
    ore optio aliquid iure quisquam! Qui temporibus, soluta provident itaque explicabo,
    rerum expedita ut quod officia dolore voluptas! Libero magnam, asperiores aut, nihil
    pariatur voluptates nemo deserunt sapiente iste quidem, sunt voluptatibus! Voluptat
    em vitae eligendi, fugiat ea maxime ratione eius et aperiam commodi dolore illo ulla
    m amet dolorum minus aliquam veritatis exercitationem alias obcaecati libero, quibus
    dam vero nostrum sequi, accusamus vel! Doloremque dignissimos a neque.</article>
</main>