<main>
  <div class="title">ORDERS</div>
  <div *ngFor="let orderProduct of orderProducts | orderStatus: statusCreated; let i = index ">
    <p class="number">Order # {{i+1}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of orderProduct.products; let i = index;">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
      </tr>
      <tr>
        <td>{{orderProduct.firstName}}</td>
        <td>{{orderProduct.secondName}}</td>
        <td>{{orderProduct.address}}</td>
        <td><button class="btn btn-primary" (click)="confirm(orderProduct)">delivered!</button></td>
      </tr>
    </tbody>
  </table>
</div>
</main>