.products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product {
        font-family: 'Times New Roman', Times, serif;
        border: 1px solid black;
        height: 300px;
        padding: 0;
        width: 200px;
        padding: 10px;
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
        p {
          line-height: 12px;
        }
    }