<div class="photo">
  </div>
  <div class="quotes">
      <div class="quote">
          <q>
              All I dreamed of when I became a footballer was to play for a club as big as Real Madrid. It's maybe the most famous and best club in the history of football.
          </q>
          <p>Luka Modric</p>
      </div>
      <div class="quote">
          <q>
              I have fun like a child in the street. When the day comes when I'm not enjoying it, I will leave football.
          </q>
          <p>Lionel Messi</p>
      </div>
      <div class="quote">
          <q>
              In football, the worst things are excuses. Excuses mean you cannot grow or move forward.
          </q>
          <p>Pep Guardiola</p>
      </div>
  </div>